# Ignore the virtual environment
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore build and distribution folders
build/
dist/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
